*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  gap: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  border: none;
  background: none;
  outline: none;

  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: Gilroy, sans-serif;
  text-decoration: none;
  list-style: none;
}

@import "inter-ui/inter.css";

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}